<section id="app-web-pokedex-my-pokemon">
    <div class="cards">
        <div class="card" *ngFor="let p of myCatalogue | orderBy: 'id'">
            <h3>
                {{p.name}} 
                <button (click)="removeFavorites(p.id)"><i class="ion-close-round"></i></button>
            </h3>
            <div class="side-img">            
                <img [src]="p.sprites.other.dream_world.front_default" alt="{{p.name}}"/>
            </div>
            <div class="side-description">
                <app-description [descriptionChildren]="p.species.url"></app-description>
            </div>
            <div class="size">
                <p><app-types [typesChildren]="p.types"></app-types></p>
                <p><strong>Altura: </strong> {{p.height / 10}} m.</p>
                <p><strong>Peso: </strong> {{p.weight / 10}} Kg.</p>
            </div>
        </div>
    </div>
</section>
