<nav id="app-web-pokedex-menu-horizontal">
    <div class="activities">
        <ul class="activities-items">
            <li ngbDropdown class="activities-item">
                <i id="dropdownMenu" ngbDropdownToggle class="ion-navicon-round"></i>
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                    <div class="title">
                        <span>{{username}}</span>
                    </div>
                    <button ngbDropdownItem [routerLink]="['/favorites']">
                        <i class="ion-android-bookmark"></i> <span>Favoritos</span>
                    </button>
                    <button ngbDropdownItem (click)="signOut()">
                        <i class="ion-log-out"></i> <span >Salir</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>
