.types-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.types-icon .icon{
    width: 10%;
    height: auto;
    margin: 1em 2%;
    border-radius: 50%;
    padding: 1em;
}

.types-icon .icon img{
    width: 100%;
    height: auto;
}

