@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');
@import '~ionicons-npm/css/ionicons.css';

html {
  scroll-behavior: smooth;
}

body{
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #262626;
    margin: 0;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

button:active {
  outline: none;
  border: none;
}

button:focus {outline:0;}